.center {
    text-align:center;
    padding: 300px 0;
}
.p1 {
    font-family: "Times New Roman", Times, Serif;
}

.logo img{
    float: left;
    width: 100px;
}
body{font-family: "Times New Roman", Georgia, Serif;}
  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
.about{
  text-align:center;
  justify: justify;
  padding-top: 200px 0;
}
.menu{
  background-color: white;
  background-position: cover;
}
.about-section{
  background-image: url('onepage_restaurant.jpg');
  height: 150%;
  background-size:"width:100%";
  background-position: center;
}
.col{
  background-size: "height:50% , width:50%";
}